{% extends 'layout.html' %}
{% load static www_templatetags %}
{% block extraheadcss %}
    <style>
        .s-products .s-products-item {
        {#            height: 430px;#} padding: 10px;

        }

        .s-products #plist {
            list-style: none;
        }

        .s-products .pli {
            width: 50%;
            position: relative;
            float: left;
        }

        .img-wrap {
            margin-right: 20px;
            margin-bottom: 20px;
            float: left;
        }

        .img-wrap img {
            width: 200px;
            height: auto;
        }

        .s-decision h3::before {
            content: '';
            font-family: Flaticon;
            font-size: 55px;
            color: #f55;
            position: absolute;
            top: -70px;
            left: 50%;
            width: 40%;
            margin-left: -20%;
        }

        .s-decision p {
            height: auto;
            margin-top: 30px;
        }

        .s-decision h3 {
            height: 95px;
        }

        @media only screen and (max-width: 768px) {
            .s-decision h3 {
                height: auto;
            }

            .s-decision .img-wrap img {
                width: 100%;
                height: auto;
            }
            .s-decision .img-wrap {
                width: 100%;
            }

            .s-decision h3 {
                height: auto;
                margin-bottom: auto;
            }
            .s-decision .button-wrap {
                margin-bottom: 20px;
                margin-top: auto;
            }

        }
    </style>
{% endblock %}
{% block extraheadjs %}

{% endblock %}
{% block content %}
    <section class="s-default s-decision">
        <div class="container">
            <div class="row">
                {% if blogs %}
                    {% for blog in blogs %}
                        <div class="col-md-6 col-sm-12">
                            <div class="s-decision-item">
                                <h3 class="first"><b>{{ blog.active_from_date }}</b> - {{ blog.title|truncatechars:80 }}</h3>
                                <div class="img-wrap"><img src="{{ blog.img.url }}"
                                                           alt=""></div>
                                <p>
                                    {{ blog.desc|truncatewords_html:60|safe }}
                                </p>

                            </div>
                            <div class="button-wrap clearfix"><a href="/news/{{ blog.id }}"
                                                                 class="button">Подробнее</a></div>
                        </div>

                    {% endfor %}
                {% else %}
                    <h1>Нет новостей</h1>
                {% endif %}

            </div>
        </div>
    </section>

{% endblock %}