{% extends 'layout.html' %}
{% load static www_templatetags %}
{% block extraheadcss %}
    <style>
        .s-products .s-products-item {
            height: 500px;
            padding: 10px;

        }

        .s-products #plist {
            list-style: none;
        }

        .s-products .pli {
            width: 50%;
            position: relative;
            float: left;
        }
        .s-products .img-wrap {
            margin-right: 20px;
        }

        @media only screen and (max-width: 768px) {
            .s-products .pli {
                width: 100%;

            }

            .s-products .s-products-item{
                height: auto;
            }

            .s-products-item .img-wrap {
                float: left;
                width: 50%;
            }
            .s-products-item .img-wrap img {
                width: 100%;
                height: auto;
            }
        }

        @media only screen and (max-width: 480px) {
            .s-products-item .img-wrap {
                float: left;
                width: 100%;
            }
        }
    </style>
{% endblock %}
{% block content %}
    <section class="s-products">
        <div class="container">
            <ul id="plist">

                {% for product in products %}
                    <li class="pli">
                        {#            <div class="col-md-6 col-sm-6">#}
                        <div class="s-products-item clearfix">
                            <h4><a href="/catalog/{{ catalog.alias }}/{{ product.id }}">{{ product.name }}</a></h4>

                            <div class="img-wrap"><img src="{{ product.img.url }}"
                                                       alt="Солнечный коллектор IntorSolar 2 кв м"></div>
                            <div class="s-products-item-performance">
                                <ul>
                                    <li><span>Цена:</span>{{ product.price|nacenka:product.ampl }} руб.</li>
                                    <li><span>Наличие на складе:</span> {{ product.amount }} шт.</li>
                                    <li><span>Условия оплаты:</span> возможна рассрочка</li>
                                    <li><span>Доставка:</span> возможна доставка</li>
                                </ul>
                            </div>

                            <div class="s-products-item-descr">
                                <p>{{ product.desc|striptags|truncatechars:200 }}</p>
                                <div class="button-wrap"><a href="/catalog/{{ catalog.alias }}/{{ product.id }}"
                                                            class="button">Подробнее</a></div>
                            </div>
                        </div>
                        {#            </div>#}
                    </li>
                {% endfor %}
            </ul>

        </div>
    </section>
{% endblock %}