{% extends 'layout.html' %}
{% load static %}
{% block content %}
	<section class="s-products">
		<h4>Солнечный коллектор IntorSolar 2м<sup>2</sup></h4>
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-sm-6">
					<div class="s-products-item">
						<div class="img-wrap"><img src="{% static "img/intorsolar2.jpg" %}" alt="Солнечный коллектор IntorSolar 2 кв м"></div>
					</div>
				</div>
				<div class="col-md-6 col-sm-6">
					<div class="s-products-item-performance">
						<ul>
							<li><span>Цена:</span> по запросу</li>
							<li><span>Наличие на складе:</span> постоянно</li>
							<li><span>Условия оплаты:</span> возможна рассрочка</li>
							<li><span>Доставка:</span> возможна доставка</li>
						</ul>
					</div>
				</div>

			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="s-products-item-descr">
						<p>Солнечные коллекторы IntorSolar предназначены для преобразования солнечной энергии в тепловую, путем нагрева, циркулирующего в коллекторе теплоносителя. Плоские солнечные коллекторы IntorSolar отличаются простотой конструкции и при этом высокой эффективностью. Абсорбционная поверхность плоских солнечных коллекторов выполнена из меди или из алюминия. Поверхность абсорбера защищена ударопрочным стеклом 4 мм. Стекло пропускает волны солнечной радиации и препятствует отводу наружу длинных тепловых волн от нагревающейся поглощающей панели. Применение этих коллекторов позволяет надежно, качественно и недорого собирать установки такой величины, которая необходима для поддержания отопления с использованием солнечного тепла. Точки подключения коллекторов к системе могут свободно выбираться, в зависимости от желания заказчика. Используемые материалы гарантируют длительный срок службы и постоянство параметров солнечных коллекторов.</p>
					</div>
				</div>
			</div>
			<div class="details">
				<div class="row">
					<div class="col-md-12">
						
						<table>
							<tr>
								<th>Тип Селектора</th>
								<td>Плоский медный</td>
								<td>Плоский алюминевый</td>
							</tr>
							<tr>
								<th>Материал Абсорбера</th>
								<td>Медь</td>
								<td>Алюминий</td>
							</tr>
							<tr>
								<th>Структура Абсорбера</th>
								<td>Арфа</td>
								<td>Змеевик</td>
							</tr>
							<tr>
								<th>Коэф.поглощения</th>
								<td>&alpha;=0.93(±0.05)</td>
								<td>&alpha;=0.91(±0.05)</td>
							</tr>
							<tr>
								<th>Коэф.эмиссии</th>
								<td>&epsilon;=0.12(±0.02)</td>
								<td>&epsilon;=0.13(±0.02)</td>
							</tr>
							<tr>
								<th>Материал и диаметр внутренних трубок</th>
								<td>Медь <br> Ф 25 мм</td>
								<td>Медь <br> Ф 18 мм</td>
							</tr>
							<tr>
								<th>Резьба патрубков</th>
								<td>20 мм (3/4)</td>
								<td>20 мм (3/4)</td>
							</tr>
							<tr>
								<td>Макс.крутящий момент</td>
								<td>0.03 кН-м</td>
								<td>0.03 кН-м</td>
							</tr>
							<tr>
								<td>Стекло</td>
								<td>Закаленное 4 мм</td>
								<td>Закаленное 4 мм</td>
							</tr>
							<tr>
								<td>Объем теплоносителя</td>
								<td>1,5 л</td>
								<td>1,3 л</td>
							</tr>
							<tr>
								<td>Масса пустой/полный</td>
								<td>31.5/33кг</td>
								<td>30.2/31,5 кг</td>
							</tr>
							<tr>
								<td>Тестовое давление</td>
								<td>300 кПа</td>
								<td>300 кПа</td>
							</tr>
							<tr>
								<td>Утеплитель</td>
								<td>Мин. вата 50 мм</td>
								<td>Мин вата 50мм</td>
							</tr>
							<tr>
								<td>Габариты</td>
								<td>1990х990х91</td>
								<td>1990х990х91</td>
							</tr>
						</table>

					</div>
				</div>
			</div>


		</div>
	</section>
{% endblock %}

