{% extends 'layout.html' %}
{% load static www_templatetags %}
{% block extraheadcss %}
    <style>
        .s-products .s-products-item {
        {#            height: 430px;#} padding: 10px;

        }

        .s-products #plist {
            list-style: none;
        }

        .s-products .pli {
            width: 50%;
            position: relative;
            float: left;
        }

        .img-wrap {
            margin-right: 20px;
            margin-bottom: 20px;
            float: left;
        }

        .img-wrap img {
            width: 80%;
        }

        .s-decision h3::before {
            content: '';
            font-family: Flaticon;
            font-size: 55px;
            color: #f55;
            position: absolute;
            top: -70px;
            left: 50%;
            width: 40%;
            margin-left: -20%;
        }

        @media only screen and (max-width: 768px) {
            .s-products .pli {
                width: 100%;
            }
        }
    </style>
{% endblock %}
{% block extraheadjs %}

{% endblock %}
{% block content %}
    <section class="s-default s-decision">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="s-decision-item">
                        <h3 class="first">{{ blog.active_from_date }} - {{ blog.title }}</h3>
                        <div class="img-wrap"><img src="{{ blog.img.url }}"></div>
                        <p>
                            {{ blog.desc|safe }}
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </section>
{% endblock %}