{% extends 'layout.html' %}
{% load static %}
{% block content %}
	<section class="s-products">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-sm-6">
					<div class="s-products-item clearfix">
						<h4>Солнечный коллектор IntorSolar 2м<sup>2</sup></h4>
						
						<div class="img-wrap"><img src="img/intorsolar2.jpg" alt="Солнечный коллектор IntorSolar 2 кв м"></div>
						<div class="s-products-item-performance">
							<ul>
								<li><span>Цена:</span> по запросу</li>
								<li><span>Наличие на складе:</span> постоянно</li>
								<li><span>Условия оплаты:</span> возможна рассрочка</li>
								<li><span>Доставка:</span> возможна доставка</li>
							</ul>
						</div>
						
						<div class="s-products-item-descr">
							<p>Солнечные коллекторы IntorSolar предназначены для преобразования солнечной энергии в тепловую, путем нагрева, циркулирующего в коллекторе теплоносителя. Плоские солнечные коллекторы IntorSolar отличаются простотой конструкции и при этом высокой эффективностью...</p>
							<div class="button-wrap"><a href="intorsolar.html" class="button">Подробнее</a></div>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-sm-6">
					<div class="s-products-item clearfix">
						<h4>Солнечный коллектор системы BUSO</h4>
						<div class="img-wrap"><img src="img/buso.jpg" alt="Солнечный коллектор системы BUSO"></div>
						<div class="s-products-item-performance">
							<ul>
								<li><span>Цена:</span> по запросу</li>
								<li><span>Наличие на складе:</span> в наличии</li>
								<li><span>Минимальный заказ:</span> 2м<sup>2</sup></li>
								<li><span>Условия оплаты:</span> по предоплате 50%</li>
								<li><span>Доставка:</span> возможна нашим транспортом</li>
							</ul>
						</div>
						<div class="s-products-item-descr">
							<p>Коллектор солнечный плоский фирмы &#34;BUSO&#34; предназначен для преобразования солнечной энергии в тепловую, путем нагрева, циркулирующего в коллекторе теплоносителя (нетоксичной и негорючей жидкости типа антифриз) Плоские солнечные коллекторы ”BUSO“ отличаются большой площадью...</p>
							<div class="button-wrap"><a href="buso.html" class="button">Подробнее</a></div>
						</div>
					</div>
				</div>

			</div>
			<div class="row">
				<div class="col-md-6 col-sm-6">
					<div class="s-products-item clearfix">
						<h4>Солнечная установка для горячего водоснабжения</h4>
						
						<div class="img-wrap"><img src="img/sunkit.jpg" alt="Солнечная установка для горячего водоснабжения"></div>
						<div class="s-products-item-performance">
							<ul>
								<li><span>Цена:</span> по запросу</li>
								<li><span>Наличие на складе:</span> в наличии</li>
								<li><span>Условия оплаты:</span> возможна рассрочка</li>
								<li><span>Доставка:</span> возможна нашим транспортом</li>
							</ul>
						</div>
						
						<div class="s-products-item-descr">
							<p>Эта небольшая установка для приготовления горячей воды от солнца позволит вам существенно снизить расходы на нагрев воды. Производительность системы позволяет автономно обеспечивать горячей водой семью из 3-х человек...</p>
							<div class="button-wrap"><a href="sunkit.html" class="button">Подробнее</a></div>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-sm-6">
					<div class="s-products-item clearfix">
						<h4>Контроллер Ultisolar SR868C8Q для солнечного коллектора</h4>
						<div class="img-wrap"><img src="img/ultisolar.jpg" alt="Контроллер Ultisolar SR868C8Q для солнечного коллектора"></div>
						<div class="s-products-item-performance">
							<ul>
								<li><span>Цена:</span> по запросу</li>
								<li><span>Наличие на складе:</span> постоянно</li>
								<li><span>Условия оплаты:</span> возможна рассрочка</li>
								<li><span>Доставка:</span> возможна доставка</li>
							</ul>
						</div>
						<div class="s-products-item-descr">
							<p>Применяется в солнечных системах с одним или двумя энергопотребляющими устройствами (резервуар хоз. воды, бассейн, котел, накопительный бак воды...) или с одним устройством и двумя полями коллекторoв (схема соединения восток/запад). </p>							<div class="button-wrap"><a href="ultisolar.html" class="button">Подробнее</a></div>
						</div>
					</div>
				</div>

			</div>
			<div class="row">
				<div class="col-md-6 col-sm-6">
					<div class="s-products-item clearfix">
						<h4>Солнечный элемент 3,5 Вт</h4>
						
						<div class="img-wrap"><img src="img/sunelement.jpg" alt="Солнечный элемент 3,5 Вт"></div>
						<div class="s-products-item-performance">
							<ul>
								<li><span>Цена:</span> по запросу</li>
								<li><span>Наличие на складе:</span> в наличии</li>
							</ul>
						</div>
						<div class="s-products-item-descr">
						
							<ul>
								<li>Технические характеристики:</li> 
								<li>Тип - Поликристаллические</li> 
								<li>Размер: 156 мм x 156 мм</li> 
								<li>Isc : 7.60 A</li>
								<li>Voc : 590 mV</li>
								<li>Impp : 7.15 A</li>
								<li>Umpp : 490mV</li>
								<li>Мощность : 3.5 Watt</li>
								<li>КПД 14.4 %</li>
							</ul>

						</div>
					</div>
				</div>
				<div class="col-md-6 col-sm-6">
					<div class="s-products-item clearfix">
					</div>
				</div>

			</div>
		</div>
	</section>

{% endblock %}