{% extends 'layout.html' %}
{% load static www_templatetags thumbnail %}
{% block extraheadcss %}
    <style>
        .s-products {
            text-align: left;
        }

        .tovartext {
            float: left;

        }

        @media (min-width: 768px) {
            .tovartext {
                float: left;

            }
        }

        @media only screen and (max-width: 1200px) {
            .s-products-item-descr, .s-products-item-performance {
                float: left;
            }
        }
    </style>
{% endblock %}
{% block content %}
    <section class="s-default s-products">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="s-products-item clearfix">
                        <h4>{{ product.name }}</h4>
                        <div class="img-wrap img-thumbnail">
                            <a href="{{ product.img.url }}">
                                <img src="{% thumbnail product.img "300" %}" alt="{{ product.name }}">
                            </a>
                        </div>
                        <div class="s-products-item-performance">
                            <ul>
                                <li><span>Цена:</span> {{ product.price|nacenka:product.ampl }} руб.</li>
                                <li><span>Наличие на складе:</span>{{ product.amount }} шт.</li>
                                <li><span>Условия оплаты:</span>предоплата</li>
                                <li><span>Доставка:</span> оплачивается дополнительно</li>
                            </ul>
                        </div>
                        <div class="s-products-item-descr">
                            {{ product.desc|safe }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}