{% extends 'layout.html' %}
{% load static %}
{% block extraheadcss %}

{% endblock %}
{% block content %}
    <section class="s-products">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="s-products-item clearfix">
                        <h4>Камин с водяным контуром 5-12 кВт, Германия</h4>
                        <div class="img-wrap"><img src="img/fireplace.jpg"
                                                   alt="Камин с водяным контуром 5-12 кВт, Германия"></div>
                        <div class="s-products-item-performance">
                            <ul>
                                <li><span>Цена:</span> по запросу</li>
                                <li><span>Наличие на складе:</span> в наличии</li>
                                <li><span>Условия оплаты:</span> предоплата</li>
                                <li><span>Доставка:</span> оплачивается дополнительно</li>
                            </ul>
                        </div>
                        <div class="s-products-item-descr">
                            <p>Камин с водяным контуром - это твердотопливный котёл с дизайном традиционного камина,
                                который даёт возможность наслаждаться очагом и в то же время отапливать дом, не теряя
                                при этом тепла. Камины такого типа могут быть единственным источником тепла а также или
                                дополнительным. В случае единственного источника, схема подключения может быть
                                составлена таким образом, что отопление одним камином обеспечит обогрев дома площадью до
                                400м2 и подогрев воды для бытовых потребностей. При работе камина в летний период,
                                предусмотрено отключение системы отопления и остается только подогрев воды для бытовых
                                потребностей.</p>
                            <ul>
                                <li><span>Диапозон мощности:</span> 5-12 кВт</li>
                                <li><span>Номинальная тепловая мощность:</span> 10 кВт</li>
                                <li><span>Материал корпуса:</span> листовая сталь</li>
                                <li><span>Производитель:</span> ST-AD GmbH</li>
                                <li><span>Страна-производитель:</span> Германия</li>
                            </ul>
                            <p>Используется только твердое топливо</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}