{% extends 'layout.html' %}

{% block content %}
    <section class="s-inner">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>Загородная Недвижимость</h2>
                    <p>Есть чудный участок в прекрасном уголке всего в 10 минутах или в 50 км езды от города? На диком
                        берегу моря или красивого пруда, или в заповедной глуши, где дикие животные выходят из чащи, не
                        боясь человека. Вы обладаете этой жемчужиной, и не можете, вполне насладится этим богатством.
                        Вроде и достался недорого, но и продать невозможно без коммуникаций. В любом жилье необходима
                        энергия, но если ближайший столб за 5 км от этого жилья, то электролиния на такое расстояние
                        будет стоить как сама постройка. Другое дело тот же участок с электричеством. Конечно, возможно
                        использование бензогенератора, но стоит ли уезжать из города на природу, что бы слушать
                        беспрестанный шум мотора? К тому же генератору нужен постоянный подвоз топлива и минимальное
                        обслуживание.</p>
                    <p>В таком случае представляется идеальным использования собственной солнечной или ветросолнечной
                        электростанции, полностью автономной. Стоимость такой установки в пределах десятой части от
                        стоимости постройки жилья наверное вполне адекватная цена за городской комфорт в дали от
                        цивилизации и в разы поднимает стоимость участка.
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h2>Гостиничный Бизнес</h2>
                    <p>Новый сезон уже начинается. Новый сезон, несомненно, принесёт новых клиентов и новые доходы. Но,
                        что бы принять нового гостя, нужно понести некоторые расходы. В частности каждый отдыхающий
                        расходует около 50 литров горячей воды в сутки. И если у вас отдыхают 8-12 гостей, а может быть
                        20-30 или больше, то приходится подогревать огромные объёмы воды, затрачивая большое количество
                        постоянно дорожающей энергии. Вам не кажется, что логичней поручить эту энергозатратную
                        обязанность солнцу. Как уже сделали ваши коллеги по бизнесу в странах средиземноморья. Ведь там
                        крыши всех отелей уставлены солнечными коллекторами, и не кто даже не пытается греть воду другим
                        способом кроме как солнцем. Также, гелиосистему которая греет воду для гостей летом, можно
                        переключить на обогрев жилища хозяев зимой и сэкономить на отоплении.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h2>Нет газа? А он Вам нужен?</h2>
                    <p>Множество домохозяйств построено на новых улицах без коммуникаций. Как правило электроснабжение
                        есть, но газ только обещают. Через год, два, «очень скоро» и т.д. Даже если газопровод приходит
                        на улицу это не значит, что он сразу придёт в дом. Подключение стоит денег и денег не малых.
                        Например, в моём городе просят за это 250 000р. За то, чтобы людям установили счётчик, по
                        которому нужно платить всю жизнь. Конечно, многие пользуются электрокотлами в отсутствие газа. Я
                        знаю одно домохозяйсво с электрокотлом, где хозяева платят 20 000р. за электроэнергию в самые
                        холодные зимние месяцы. Очень накладно, не правда ли?</p>
                    <p>Кажется логичней, доверить отопление вашего жилища бесплатному южному солнцу. Черноморское
                        побережье самое солнечное место в России. Решение напрашивается само сабой. Но во сколько это
                        выльется? Примерно в те же суммы, что и подключение к газопроводу. Иногда немного больше, иногда
                        вдвое больше. Но эти средства платятся не за какое то подключение с счётчиком, а вкладываются в
                        своё оборудование которое не знает, что такое 1 Июля, когда дорожают кубометры и киловатты.</p>
                </div>
            </div>

        </div>
    </section>
{% endblock %}