{% extends 'layout.html' %}
{% block content %}
    <section class="s-inner">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <p>Компания ООО «СОЛНЕЧНЫЕ ТЕХНОЛОГИИ» рада сделать Вам предложение по способам оптимизации расходов
                        на электричество, горячую воду и отопление в многоквартирных и индивидуальных домах и нежилых
                        помещениях. Для этого в вашем городе сегодня есть все возможности.</p>
                    <p>ООО «СОЛНЕЧНЫЕ ТЕХНОЛОГИИ» предлагает каждому думающему человеку уникальную возможность обрести
                        независимость от капризов коммунального электроснабжения и различных природных факторов: для
                        этого всего лишь нужно установить солнечные источники энергоснабжения, которые могут стать как
                        резервным источником, так и основным. Полученная от солнца тепловая энергия может использоваться
                        как для горячего водоснабжения, обогрева помещений, так и для кондиционирования благодаря
                        технологии абсорбции холода.</p>
                    <p>Как известно, мы сильно переплачиваем за электричество и сетевой газ, и цены на энергоносители у
                        нас постоянно растут. К тому же все знают, как непросто получить доступ к городским сетям.
                        Зачастую мощности этих городских сетей уже исчерпаны и подключение к ним ограничено по мощности,
                        либо вовсе невозможно. По прогнозу большинства ведущих российских и зарубежных
                        экономистов-аналитиков нас ждёт десятилетие беспрерывного повышения цен на продукцию компании
                        «Газпром» до полного уравнивания внутрироссийских и мировых цен на газ. В этой ситуации для
                        любого здравомыслящего человека, считающего свои деньги, есть один разумный выход - насколько
                        возможно, стать независимым от энергокомпаний и сократить расходы на электричество, тепло и
                        горячую воду. Очевидно, нет более привлекательного жилья на рынке, чем жильё, в котором оплата
                        ЖКХ в разы меньше, чем в соседнем доме.</p>
                    <p>Ресурсы солнечной энергии велики, если не сказать неограниченны. Всего мощность солнечного
                        излучения составляет около 3.8*1026 Вт . Это приблизительно в 50 раз превосходит энергию,
                        которую можно было бы извлечь из мировых разведанных запасов горючих ископаемых, и примерно в
                        300 тыс. раз - ежегодного потребления энергии землянами. Максимальное значение плотности
                        солнечного излучения, для нашей широты, в 1000 Вт/м2 можно получить на поверхности,
                        перпендикулярной к солнечным лучам в ясный летний полдень. Энергия солнца непосредственно почти
                        не использовалась до недавнего времени, несмотря на ее изобилие. Но, сорокалетний опыт
                        скандинавских и европейских стран показывает, что применение солнечных установок может быть
                        эффективным для целей тепло/электроснабжения.</p>
                    <p>ООО «СОЛНЕЧНЫЕ ТЕХНОЛОГИИ» поможет создать как полностью автономные энергетические системы, так и
                        выполнить интеграцию солнечных систем отопления (энергоснабжения) в существующие системы.</p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}