{% extends 'layout.html' %}
{% block content %}
    <section class="s-inner">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>Не хватает мощности?</h2>
                    <p>Когда то на месте ветхого домовладения был построен магазинчик. За полтора десятка лет бизнес
                        окреп и расширился. На месте магазинчика вырос торговый центр. Только подключенная мощность в 7
                        киловатт наследство от ветхого домовладения. Сегодня уже требуется 25 киловатт. На просьбу
                        увеличить мощность в ГорЭлектроСети ответ один – ставте подстанцию, мощностей не хватает.
                        Естественно за ваш счёт. Если магазинчик на отшибе, бывает и линий не хватает, тогда совсем
                        беда. В любом случае, зачастую дополнительные киловатты установленной мощности выливаются в 1
                        млн. рублей, 1,5 млн. , 2 млн. и более в зависимости от конкретного случая. Только за
                        подключение, только за счастье платить по счётчику всю жизнь.</p>
                    <p>Собственная солнечная электростанция обойдётся примерно в ту же сумму, а если речь о 10-15
                        киловаттах, то и дешевле 1 млн. рублей. Причём за систему дающую киловатты, а не за подключение
                        с тикающим счётчиком.</p>
                    <p>Говорят, что солнцем можно запитать только гаражи и бани, мол мощность очень ограничена. На
                        сегодняшний день беспроблемно доступно 100 киловатт в 3-х фазах и более (по спец проекту).
                        Правда площадь панелей на 100 киловатт около 500м2, не каждый торговый центр распологает такой
                        крышей.</p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}