{% extends 'layout.html' %}
{% block content %}
	<section class="s-inner">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
				<p>Если Вы задумываетесь о энергосбережении в ваших строениях, и готовы инвестировать сейчас, чтобы существенно экономить долгие годы после, 000«СОЛНЕЧНЫЕ ТЕХНОЛОГИИ» предлагает свои услуги:</p>
				<ul>
					<li>Наша компания проведёт энергоаудит объекта</li>
					<li>Даст ответы на все вопросы заказчика</li>
					<li>Сделает все необходимы расчёты</li>
					<li>Смонтирует всё оборудование</li>
					<li>Сдаст заказчику работающую систему под ключ</li>
					<li>Заключит договор на обслуживание системы</li>
				</ul>
				<p>Сегодня компания ООО «СОЛНЕЧНЫЕ ТЕХНОЛОГИИ», наверное, единственная способна предложить клиентам систему «пассивного кондиционирования», т.е. систему охлаждения воздуха напрямую солнцем непосредственно от разработчиков технологии, немецкой компании «OA Coptex». ООО «СОЛНЕЧНЫЕ ТЕХНОЛОГИИ» сотрудничает с инжиниринговой фирмой альтернативной энергетики «Зоннен Фрелих» непосредственно в лице её директора г-на Штефана Фрелиха. Также наш партнёр г-н Маттиас Ламмерт президент совместного Российско-Германского предприятия ООО «Топ-Дизайн», уже 20 лет внедряет технологии энергосбережения на территории Российской Федерации. Опираясь на опыт и поддержку сильных партнёров, ООО «СОЛНЕЧНЫЕ ТЕХНОЛОГИИ» в силах предложить клиентам решения используя любой источник альтернативной энергии. Наша цель-максимум полная энергонезависимость наших клиентов. Сегодня, жить в комфортном жилище пользуясь всеми благами цивилизации, без подключения к сетям энергокомпаний, <span>реальность</span>.</p>
				</div>
			</div>



		</div>
	</section>
{% endblock %}