{% extends 'layout.html' %}
{% load static %}
{% block extraheadcss %}
    <style>
        .s-products h4 {
            text-align: center;
        }
    </style>
{% endblock %}
{% block content %}
<section class="s-default s-products">
    <h4>Солнечный_коллектор_Яsolar</h4>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <div class="s-products-item"></div>
            </div>
            <div class="col-md-6 col-sm-6">
                <div class="s-products-item-performance">
                    <ul>
                        <li><a href="{% static "prezent.pdf" %}">Презентация (смотреть)</a></li>
                        <li><a href="{% static 'colektor.pdf' %}">Солнечный коллектор ЯSolar (смотреть)</a></li>
                    </ul>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="s-products-item-descr">
                    <p>Солнечный коллектор ЯSolar представляет собой специальный
                        теплообменник, преобразующий энергию солнечного излучения в тепловую и
                        передающий ее теплоносителю (антифриз или вода), движущемуся внутри каналов поглощающей панели.
                        Разработанный по европейским стандартам EN 12975-1 и -2, солнечный коллектор ЯSolar производится
                        в
                        России компанией ООО ˝НОВЫЙ ПОЛЮС˝ по оригинальной технологии.
                        Наши инженеры разработали солнечный коллектор ЯSolar с применением современных материалов и
                        технологий, имеющий малый вес (37 кг), удобное подключение с низким гидравлическим
                        сопротивлением
                        и гибкие точки крепления. Продуманные системы монтажа не требуют специального инструмента. По
                        своим характеристикам наш солнечный коллектор ЯSolar соответствует лучшим зарубежным аналогам.
                        Солнечный коллектор ЯSolar является основным элементом систем солнечного теплоснабжения или
                        бытовых солнечных водонагревателей, которые используются для обеспечения горячей водой жилых
                        зданий, бассейнов, промышленных, сельскохозяйственных и коммунально-бытовых объектов.
                        Установку ЯSolar можно использовать для нагрева не только воды, но и других теплоносителей,
                        применяемых в системах отопления, кондиционирования, хладоснабжения и в промышленных
                        технологических процессах.
                        Мощность солнечного коллектора ЯSolar составляет 1,5кВт при температуре 20°С и интенсивности
                        излучения 900 Вт/м².
                    </p>
                </div>
            </div>
        </div>
    </div>


</section>
{% endblock %}